/*
This is css of practice site for html5, css3 and bootstrap
*/
.container{
	align-content: space-around;
}
.row{
	margin-top: 20px;
	margin-bottom: 20px;
}

#section-one h2 ol{
	text-align: center;
}
.nav-bar{
	text-align: right;
	vertical-align: center;
}
.nav-bar a{
	padding:10px;
	color:white;
}
.row #proj-title{
	text-align: center;
}
.proj h3{
	text-align: center;
}
.title{
	text-align: center;
}
.block{
	display: inline-flex; 
	text-align:center;
}
.col-lg-12{
	display: inline-flex;
}
@media only screen and (max-width: 768px){
	
	[class*="col-"] {
    width: 100%;
  }
}
@media (min-width: 576px){
	.col-sm-6{
		text-align: center;
	}
}

